<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:risk="http://www.w3.org/1999/xhtml">

<body>
	<div th:fragment="leftMenu">
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="nav-close">
				<i class="fa fa-times-circle"></i>
			</div>
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="nav-header">
						<div class="dropdown profile-element">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
								class="clear"> <span class="block m-t-xs"
									style="font-size: 20px;"> <i class="fa fa-area-chart"></i>
										<strong class="font-bold" id="id_tt">hAdmin</strong>
								</span>
							</span>
							</a>
						</div>
						<div class="logo-element">hAdmin</div>
					</li>

					<!-- 构建菜单 -->
					<li><a href="#"> <i class="fa fa fa-bar-chart-o"></i> <span
							class="nav-label">统计图表</span> <span class="fa arrow"></span>
					</a>
						<ul class="nav nav-second-level">
							<li><a class="J_menuItem" href="makeError">错误页面</a>
							</li>
							<li><a class="J_menuItem" href="graph_echarts.html">百度ECharts</a>
							</li>
							<li><a class="J_menuItem" href="graph_flot.html">Flot</a></li>
							<li><a class="J_menuItem" href="graph_morris.html">Morris.js</a>
							</li>
							<li><a class="J_menuItem" href="graph_rickshaw.html">Rickshaw</a>
							</li>
							<li><a class="J_menuItem" href="graph_peity.html">Peity</a></li>
							<li><a class="J_menuItem" href="graph_sparkline.html">Sparkline</a>
							</li>
							<li><a class="J_menuItem" href="graph_metrics.html">图表组合</a></li>
						</ul></li>

				</ul>
			</div>
		</nav>
	</div>

</body>

</html>